.content{
    text-align: center;
}

#toDoTasks{
    text-align: center;
    color:white
}
body{
    background-color:black;
}

#titleTo{
    color: yellow;
    display:inline;
    font:30px Optima, sans-serif;
    font-weight:800
}


#titleDoList{
    color:white;
    display:inline;
    font:30px Optima, sans-serif;
    font-weight:800
}

#task{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;  
}

#description{
    color:white;
    display:inline;
    font:30px Optima, sans-serif;
    font-weight:800

}

#intro{
    color:white;
}

#number,#taskAmount{
    color:yellow;
    display:inline;
}

#submitbtn{
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    font:30px Optima, sans-serif;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

#removebtn{
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color:rgb(250, 103, 255);
    font:30px Optima, sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

